h1 {
  font-family: Lucida Sans ;
  color: #545EE8;
  text-shadow: 2px 2px #A2A2A2;
  
}
p {
  font-family: Verdana;
  color: #1F2354;
  padding-right: 100px;
  padding-left: 100px;
}
.ben {
  padding: 10px;
  background-color: #C8E2EC; 
}

body {
  min-height: 100vh;
}
h2 {
<<<<<<< HEAD
  font-family: Verdana bold;
=======
  font-family: Verdana;
>>>>>>> 38220dc7b3b1bb4d406aa6b7e95224fa1cd292a1
  color: #545EE8;
  padding-right: 100px;
  padding-left: 100px;
}
h3 {
<<<<<<< HEAD
  font-family: Verdana bold;
=======
  font-family: Verdana;
>>>>>>> 38220dc7b3b1bb4d406aa6b7e95224fa1cd292a1
  font-size: 130%;
  color: #545EE8;
  padding-right: 100px;
  padding-left: 100px;
}

img {
  width: 200px;
  height: auto;
}