h1 {
  font-family: Lucida Sans ;
  color: #545EE8;
  text-shadow: 2px 2px #DADADA;
  
}
p {
  font-family: Verdana;
  color: #1F2354;
  padding-right: 100px;
  padding-left: 100px;
}
.ben {
  padding: 10px;
  background-color: #C8E2EC; 
  border-radius: 15px;
}

body {
  min-height: 100vh;
}
h2 {
  font-family: Verdana;
  color: #545EE8;
  padding-right: 100px;
  padding-left: 100px;
}
h3 {
  font-family: Verdana;
  font-size: 130%;
  color: #545EE8;
  padding-left: 100px;
}

img {
  width: 200px;
  height: auto;
}