h1 {
  font-family: lucida Sans-Serif bold;
  color: #545EE8;
}
p {
  font-family: verdana;
  color: #1F2354;
}
body {
  min-height: 100vh;
}
h2 {
  font-family: verdana bold;
  color: #545EE8;
}
h3 {
  font-family: verdana bold;
  font-size: 130%;
  color: #545EE8;
}

img {
  width: 200px;
  height: auto;
}